@{
    ViewData["Title"] = "Pagina Principal";
}

<h2>Pagina Principal</h2>
<div class="text-center">
    <h1 class="display-4">Personas</h1>

    <p>
        <a asp-controller="Personas" asp-action="Index">
            Ver Personas
        </a>
    </p>
     <h1 class="display-4">Roles</h1>

    <p>
        <a asp-controller="Roles" asp-action="Index">
            Ver Roles
        </a>
    </p>
</div>
